:root {
  --color-bkg-button-hover: rgba(255, 255, 255, 0.1);
  --color-bkg-view: rgba(0, 0, 0, 0.8);
  --transition-duration: 350ms;
  --color-text: #fff;
  --color-border: rgba(0, 0, 0, 0.2);
}

/* ----------
  Animations
------------ */

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* -----
  Icons
------- */
.iv-icon {
  position: relative;
}

.iv-icon::after,
.iv-image-link img::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

/* Icon that is shown on hover */
.iv-icon--hover::after {
  transition: opacity var(--transition-duration) ease;
  opacity: 0;
}

.iv-icon--hover:hover::after {
  opacity: 1;
}

.iv-icon--size-button::after {
  width: 50px;
  height: 50px;
}

/* HACK: svg-load no longer supports custom variables */
.iv-icon--type-loading::after {
  animation: spin 1s linear infinite;
  opacity: 1;
  background-image: svg-load('loading.svg', fill=#fff) !important;
}

.iv-icon--type-zoom::after {
  background-image: svg-load('zoom-in.svg', fill=#fff);
}

.iv-icon--type-next::after {
  background-image: svg-load('next.svg', fill=#fff);
}

.iv-icon--type-previous::after {
  background-image: svg-load('before.svg', fill=#fff);
}

.iv-icon--type-close::after {
  background-image: svg-load('close.svg', fill=#fff);
}

.iv-icon--type-expand::after {
  background-image: svg-load('expand.svg', fill=#fff);
}

.iv-icon--type-shrink::after {
  background-image: svg-load('shrink.svg', fill=#fff);
}

.iv-icon--type-image-broken::after,
.iv-image-link img::after {
  background-image: svg-load('image-broken.svg', fill=#fff);
}

/* ----------
  Image link
------------ */

.iv-image-link {
  display: inline-flex;
  min-width: 50px;
  min-height: 50px;
  margin: 3px;
  padding: 4px;
  border: solid 1px var(--color-border);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  vertical-align: top; /* Fix alignment for short images */
}

.iv-image-link img {
  margin: 0;
}

.iv-image-link > :not(img) {
  display: flex; /* Remove bottom padding */
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Backdrop */
.iv-image-link::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  transition: opacity var(--transition-duration) ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.iv-image-link:hover::before,
.iv-image-link.iv-icon--type-loading::before {
  opacity: 1;
}

/* ------------
  Broken image
-------------- */

.iv-image-link img::before,
.iv-image-link img::after {
  content: '';
  position: absolute;
}

.iv-image-link img::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.iv-image-link img::after {
  z-index: 0;
  width: 35px;
  height: 35px;
}

/* ----------
  Image view
------------ */

.iv-image-view {
  display: none;
  flex-direction: column;
  height: 0;
  transition: opacity var(--transition-duration) ease-out;
  opacity: 0;
  background-color: var(--color-bkg-view);
  color: var(--color-text);
  user-select: none;
}

html.iv-image-view--open,
.iv-image-view--open body {
  overflow: hidden;
}

.iv-image-view--open .iv-image-view {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  opacity: 1;
}

.iv-image-view--single .single-hide {
  visibility: hidden;
}

.iv-image-view__header,
.iv-image-view__footer {
  display: flex;
  background-color: var(--color-bkg-view);
}

.iv-image-view__header-wrapper,
.iv-image-view__footer-wrapper {
  z-index: 2;
}

.iv-image-view__header-wrapper {
  box-shadow: rgba(0, 0, 0, 0.7) 0 3px 7px;
}

.iv-image-view__footer-wrapper {
  box-shadow: rgba(0, 0, 0, 0.7) 0 -3px 7px;
}

.iv-image-view__header {
  justify-content: space-between;
}

.iv-image-view__footer {
  justify-content: center;
}

.iv-image-view__body {
  display: flex;
  position: relative;
  height: 100%;
  overflow: auto;
}

.iv-image-view__body::-webkit-scrollbar {
  width: 20px;
}

.iv-image-view__body::-webkit-scrollbar-thumb {
  background-color: var(--color-bkg-view);
}

.iv-image-view__body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.8);
}

.iv-thumbnail-wrapper {
  display: flex;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iv-image-view__number {
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 18px;
}

.iv-image-view__backdrop {
  /* fixed keeps backdrop while scrolling down */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iv-image,
.iv-thumbnail {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /*
    Align horizontally
    It also resizes image to natural size when `max-height: none`
  */
  margin: auto;
}

.iv-image {
  z-index: 2;
  transition: opacity var(--transition-duration) ease-out;
  opacity: 1;
}

@supports (-webkit-appearance: none) {
  .iv-image {
    /* FIX: Remove extra space for Chrome. Looks like it's no longer needed */
    /* flex: 0 1 auto; */
  }
}

.iv-thumbnail {
  filter: blur(5px);
}

/* Hide image during loading, when thumbnail is shown and on error */
.iv-image-view__image--loading .iv-image,
.iv-image-view__image--thumbnail .iv-image,
.iv-icon--type-error .iv-image {
  opacity: 0;
}

.iv-image-view__image--thumbnail .iv-thumbnail-wrapper {
  z-index: 2;
}

/*
  Cancel height restriction
  Set cursor to grab hand
 */
.iv-image-view--full-height {
  & .iv-image,
  & .iv-thumbnail {
    max-height: none;
    cursor: grab;
  }

  & .iv-image--grabbing {
    cursor: grabbing;
  }
}

/* -----------
  Icon button
------------- */

.iv-icon-button {
  width: 50px;
  height: 50px;
  transition: all var(--transition-duration) ease-out;
}

.iv-icon-button--small {
  width: 25px;
  height: 25px;
}

.iv-icon-button + .iv-icon-button {
  margin-left: 5px;
}

.iv-icon-button:hover {
  background-color: var(--color-bkg-button-hover);
}

.iv-icon-button:active,
.iv-icon-button--active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* -----------
  Config menu
------------- */

.iv-config-form {
  display: none;
  top: 10px;
  left: 10px;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
  height: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--color-text);
}

.iv-config-form--open {
  display: flex;
  position: fixed;
  z-index: 3;
}

.iv-config-form__header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.iv-config-form__header-title {
  flex-grow: 1;
}

.iv-config-form__options {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  overflow: auto;
}

.iv-config-form__label {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  margin: 0;
  padding: 10px;
  transition: all var(--transition-duration) ease-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.iv-config-form__checkbox {
  margin: 0 5px 0 0 !important;
}
