:root {
  --color-active: #345da4;
  --color-active-1: #930;
  --color-border: #cacaca;
  --color-bkg: #efefef;
  --color-btn-bkg: #cacaca;
  --color-bkg-1: #e7e7e7;
  --color-bkg-2: #b5bec3;
  --color-bkg-3: #d1d7dc;
  --color-border-1: #92a3a4;
}
