@import '../../styles/_theme.css';

.nav .menu-root,
.small > b > .menu-root,
a.pg {
  display: inline-block;
  padding: 0.5em 0.7em;
  border: solid 1px var(--color-border);
  background-color: var(--color-bkg);
  text-decoration: none;
}

a.pg {
  margin-right: 0.1em;
}

.nav .menu-root,
.small > b > .menu-root {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.nav .menu-root:hover,
.small > b > .menu-root:hover,
a.pg:hover {
  border-color: var(--color-active);
  color: var(--color-active);
  text-decoration: none !important;
}

.menu-root ~ b {
  display: inline-block;
  margin-right: 0.1em;
  padding: 0.5em 0.7em;
  border: solid 1px transparent;
}
