@import 'src/pornolab-enhancer/styles/_theme.css';

.config-menu-link {
  padding-right: 12px;
  background: inline('menu-open.gif') no-repeat center right;
  font-weight: bold;
}

.config-form {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 1px;
  border: 1px solid var(--color-border-1);
  background-color: #fff;
}

.config-form-footer {
  padding: 5px 0;
  background-color: var(--color-bkg-2);
  text-align: center;
}

.config-label {
  display: flex;
  align-items: center;
  padding: 7px;
  transition: all 0.3s ease;
  background-color: var(--color-bkg-1);
}

.config-label:hover {
  background-color: var(--color-bkg-3);
  color: var(--color-active-1);
}

.config-checkbox {
  margin: 0 7px 0 0;
}
