@import '../../styles/_theme.css';

.tags-row {
  padding: 3px 0 0;
}

.tags-row-tag {
  display: inline-block;
  position: relative;
  margin: 2px 5px 2px;
  padding: 5px;
  border: solid 1px var(--color-border);
  border-radius: 5px;
  background-color: var(--color-bkg);
  text-decoration: none;
}

.tags-row-tag:hover {
  border-color: var(--color-active);
  color: var(--color-active);
  text-decoration: none !important;
}

.tags-row-tag:nth-child {
  margin-left: 0;
}

.tag-with-icon {
  padding-left: 25px;
}

.tag-with-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border: 1px solid var(--color-border);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.icon-en::before {
  background-image: svg-load('tags/united-kingdom.svg');
}

.icon-ja::before {
  background-image: svg-load('tags/japan.svg');
}

.icon-ru::before {
  background-image: svg-load('tags/russia.svg');
}

.icon-zh::before {
  background-image: svg-load('tags/china.svg');
}

.icon-es::before {
  background-image: svg-load('tags/spain.svg');
}

.icon-pt::before {
  background-image: svg-load('tags/portugal.svg');
}

.icon-de::before {
  background-image: svg-load('tags/germany.svg');
}

.icon-fr::before {
  background-image: svg-load('tags/france.svg');
}

.icon-ko::before {
  background-image: svg-load('tags/south-korea.svg');
}

.icon-in-progress::before {
  background-image: svg-load('tags/in-progress.svg');
}

.icon-dimension::before {
  border-width: 0;
  background-image: svg-load('tags/dimension.svg');
}

.icon-cen::before {
  background-image: inline('tags/cen.png');
}

.icon-uncen::before {
  background-image: svg-load('tags/uncen.svg');
}

.icon-ptcen::before {
  background-image: inline('tags/ptcen.png');
}
