@import 'src/pornolab-enhancer/styles/_theme.css';

/*
  Image links
*/

.image-link {
  display: inline-flex;
  position: relative;
}

img.postImg.image-link {
  display: block;
  margin: 2px; /* Remove bottom padding */
}

.image-link::before,
.image-link::after {
  content: '';
  transition: opacity 350ms ease;
  opacity: 0;
}

.image-link.loading-indicator::before {
  opacity: 1;
}

/* Backdrop */
.image-link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-link.error-icon::before {
  display: none;
}

.image-link.error-icon img {
  opacity: 0.6;
}

/* Backdrop icon */
.image-link::after,
.image-view-container::after,
.icon-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.image-link:hover::before,
.image-link:hover::after {
  opacity: 1;
}

/* Icons */
.loading-icon::after,
.error-icon::after {
  opacity: 1;
}

.image-link:hover::after {
  background-image: svg-load('zoom-in.svg');
}

.loading-icon::after {
  animation: spin 1s linear infinite;
  background-image: svg-load('loading.svg') !important;
}

.error-icon::after,
.error-icon:hover::after {
  background-image: svg-load('error.svg');
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*
  Image view
*/

.image-view-container {
  display: flex;
  flex-flow: column;
  height: 0;
  transition: all 0.35s ease-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  user-select: none;
}

body.image-view-open {
  overflow: hidden;
}

.image-view-open .image-view-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  opacity: 1;
}

.image-view-body,
.image-view-header,
.image-view-footer {
  display: flex;
}

.image-view-body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.image-view-body::-webkit-scrollbar {
  width: 20px;
}

.image-view-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-view-body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.8);
}

.image-view-header-wrapper,
.image-view-footer-wrapper {
  z-index: 1;
}

.image-view-header-wrapper {
  box-shadow: rgba(0, 0, 0, 0.7) 0 3px 7px;
}

.image-view-footer-wrapper {
  box-shadow: rgba(0, 0, 0, 0.7) 0 -3px 7px;
}

.image-view-header,
.image-view-footer {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-view-header {
  justify-content: space-between;
}

.image-view-footer {
  justify-content: center;
}

.image-view {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  object-fit: contain;
}

.full-height .image-view {
  max-height: none;
  cursor: grab;
}

.full-height .image-view.grabbing {
  cursor: grabbing;
}

.icon-button {
  position: relative;
  width: 50px;
  height: 50px;
  transition: all 0.35s ease-out;
}

.icon-button + .icon-button {
  margin-left: 5px;
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.image-view-number {
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-size: 1.125rem;
}

.icon-expand::before {
  width: 35px;
  height: 35px;
  background-image: svg-load('expand.svg');
}

.icon-next::before {
  background-image: svg-load('next.svg');
}

.icon-before::before {
  background-image: svg-load('before.svg');
}

.icon-close::before {
  background-image: svg-load('close.svg');
}

.full-height .icon-expand {
  background-color: rgba(255, 255, 255, 0.1);
}

.loading-icon .image-view,
.error-icon .image-view {
  display: none;
}
