@import '../../styles/_theme.css';

.find-similar-link {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  border: 1px solid transparent;
  vertical-align: middle;
}

.find-similar-link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  transform: translate(-50%, -50%);
  background: svg-load('similar.svg', fill=var(--color-active)) no-repeat center center;
  background-size: contain;
}

.find-similar-link:hover {
  border-color: var(--color-active);
  background-color: var(--color-bkg);
}
